<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">

<head>
<title>Controle de Títulos</title>
</head>

<section layout:fragment="conteudo">
	<!-- 	 <p> -->
	<!--            Bem Vindo a Aplicação Spring Boot e Thymeleaf ! Hoje é : <strong th:text="${#temporals.format(now, 'dd/MM/yyyy')}">12/09/2018</strong> -->
	<!--      </p> -->
	<div th:insert="MensagemGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">

				<h1 class="panel-title aew-titulo-panel">Sistema de Controle de
					Títulos</h1>

				<div class="float-right">
					<button type="button"
						class="btn btn-default btn-sm btn-outline-success js-btn-novo"
						data-toggle="modal" data-target="#tituloModal">
						<span class="fa fa-plus"></span>
					</button>

				</div>
			</div>

		</div>

		<div class="panel-body">
			<form method="GET" class="form-horizontal" th:action="@{/titulos}"
				th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group mb-2">
							<input class="form-control busca"
								placeholder="Qual título você está procurando?"
								autofocus="autofocus" th:field="*{descricao}"></input>
							<div class="input-group-append">
								<button type="submit" class="btn btn-outline-primary">
									<!-- 	   								<i class="fa fa-search"></i> -->
									<i class="glyphicon glyphicon-search"></i>

								</button>
							</div>
						</div>
					</div>

				</div>
			</form>

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col" class="text-center">#</th>
							<th scope="col">Decrição</th>
							<th scope="col" class="text-center">Data de vencimento</th>
							<th scope="col" class="text-right">Valor</th>
							<th scope="col" class="text-center">Status</th>
							<th scope="col" class="text-center"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="titulo : ${titulos}">
							<td class="text-center" th:text="${titulo.codigo}">1</td>
							<td th:text="${titulo.descricao}"></td>
							<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>

							<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
							<td class="text-center" th:attr="data-role=${titulo.codigo}">
								<span class="label" th:text="${titulo.status.descricao}"
								th:classappend="${titulo.pendente ? 'badge badge-danger' : 'badge badge-success'}"></span>
							</td>
							<td class="text-center">
							<a href="#"
								class="btn btn-link btn-xs js-btn-editar" title="Editar"
								rel="tooltip" data-toggle="modal" data-target="#tituloModal"
								th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao},data-vencimento=${titulo.dataVencimento},data-valor=${titulo.valor},data-status=${titulo.status}">
<!-- 									<span class="fa fa-pencil"></span> -->
									<span class="fa fa-pencil"></span>
							</a> 
							<a href="#" class="btn btn-link btn-xs" data-toggle="modal"
								data-target="#confirmacaoExclusaoModal"
								th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
								title="Excluir" rel="tooltip" data-placement="top"> <span
									class="fa fa-remove"></span>
							</a>
							<a class="btn btn-link btn-xs js-atualizar-status"
								th:if="${titulo.pendente}" title="Receber" rel="tooltip"
								data-placement="top" th:attr="data-codigo=${titulo.codigo}"
								th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
									<span class="fa fa-check-square-o "></span>
							</a>
							</td>
						</tr>
						<tr>
							<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:insert="titulos/Modal"></div>
		<div th:insert="DialogoConfirmacaoExclusao"></div>

	</div>
</section>

</html>